<h5> Shoe Stores</h5>

<p>Add a store to the database:</p>

<form action="/stores" method="post">
  <label for="name">Store name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add store</button>
</form>

<h5><% if @stores.any?() %></h5>
  <p>Click on a store to see which shoe brands they sell</p>

  <ul>
    <% @stores.each() do |store| %>
    <li><a href="/stores/<%= store.id()%>"><%= store.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
  <h5> There are currently no stores! </h5>
  <% end %>
  <a href = '/brands'> see all Shoe Brands</a>
  <br>
  <a href = '/'>click here to return to the home page</a>
